*{
    margin:0;
    padding: 0;
}
html, body{
    background-color: #f1f1f1;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    @import './pages/home';
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}