*{
    margin:0;
    padding: 0;
}
html, body{
    // background-color: #f1f1f1;
    background: #f5f5f5 url('../images/bg-pattern.png') repeat 50%/300px;
    background-attachment: fixed;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    overflow: scroll;
    overflow-x: hidden;
    @import './pages/home';
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}